.container{
  background: @gradient;

.about-text {
  width: 60vw;
  margin: 15vh auto 0;
  h2 {
    text-align: center;
    margin: 3vh;
  }
  h3, p {
    margin: 3vh;
  }
}

hr {
  width: 60vw;
  margin: 5vh 20vw;
}

.theTeam {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  h2 {
    margin: 0 0 3vh;
  }
  .grid {
    .flex(space-around, center);
    .teamMember{
      margin: 3vh 1vw;
      text-align: center;
    }
    img {
      height: 25vh;
      border-radius: 50%;
    }
  }


}}