// .backgroundVideo {
//   position: fixed;
//   right: 0;
//   bottom: 0;
// //   min-width: 100%;
// //   min-height: 100%;
// }

body{
  background-image: url('../images/aerial-shot-bird-s-eye-view-from-above-1556797.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  .overlay{
  background-color: rgba(225, 225, 225, 0.5);
  z-index:2;
  button {
    margin: 10px 10px 0px 5px;
    padding:5px;
    background-color: @dark-color;
    color: white;
    border-color: 2px solid white;

  }
  }
}